<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Double Groove Loyalty Card</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Loyalty Card Program</h1>
        <div class="loyalty-card">
            <div class="slot" th:each="i : ${#numbers.sequence(0, 9)}">
                <span th:text="${i == 9 ? 'free' : i}"></span>
                <span class="mark" th:if="${i < loyaltyCard.purchaseCount}">X</span>
                <span class="mark" th:if="${i < loyaltyCard.purchaseCount}">X</span>
            </div>
        </div>
    </section>
</body>
</html>