<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Your Cart</h1>

        <div class="cart-row" th:each="product : ${cart.products}" th:attr="data-testid=${#strings.toLowerCase(#strings.replace(product.albumTitle, ' ', '-'))}">
            <img class="album-art" th:src="${product.imageUrl}"
                 alt="${product.albumTitle} + ${product.artist.name}"
                 width="100" height="100">
            <p th:attr="data-testid=@{'product-{id}-name'(id=${product.id})}" class="album-title" th:text="${product.albumTitle}"></p>
            <p th:attr="data-testid=@{'artist-{id}-name'(id=${product.id})}" class="artist">By: <span th:text="${product.artists[0].name}"></span>
            <p th:text="${#numbers.formatCurrency(product.price)}"></p>
            <p th:attr="data-testid=@{'product-{id}-quantity'(id=${product.id})}" th:text="${product.quantity}"></p>
        </div>

        <form method="post" action="/cart/coupon">
            <input type="text" name="coupon" data-testid="coupon-code"/>
            <button type="submit" data-testid="add-coupon-code">Add Code</button>
        </form>
        <p data-testid="cart-total" th:text="${#numbers.formatCurrency(cart.total)}"></p>

        <div th:if="${cart.discount.name() != 'NONE'}">
            <p data-testid="discount-amount"><span th:text="${cart.discount.amount}"></span>%</p>
            <p data-testid="total-with-discount">After discount: <span th:text="${#numbers.formatCurrency(cart.getTotalWithDiscount())}"></span></p>
        </div>

        <div th:if="${not #lists.isEmpty(cart.products)}">
        <form action="/order/purchase" method="post">
            <button type="submit" data-testid="buy-cart">Buy them</button>
        </form>
        </div>

        <a th:href="@{/loyalty}">Checkout your loyalty card status!</a>
    </section>
</body>
</html>